@model IEnumerable<Server.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCommissioned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCommissioned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryOwner.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryOwner.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
